footer{
    height: 150px;
 }
main {
  min-height:790px;
}
 *{
   font-family: Helvetica, sans-serif;
 }

 #prueba{
   z-index: 10px;
   left: 10px;
 }
 #cuerpo{   
    
    padding-top: 100px;
    /* background-color: rgb(175, 197, 206); */
    /* padding-bottom: 150px; */
  }
  #barra, footer{
    /* background-color: rgb(32, 100, 128); */
    color: white;
 }
  .parrilla{
      /* background-color:#C4DBC1; */
      text-align: center;
      
  }
  a{
    color: black;
  }

  .iconosIndex{
    width: 125px;
    margin: 0 auto;
  }
  .botonIcons{
    padding: 0; 
    border: none; 
    background: none;
  }
  /* .botonIcons:hover{
    border: 1px solid;
  } */

  .botonesPrincipales{
    margin:  0 auto;
    border: 1px solid;
    padding: 10px;
    width: 40%;
    border-radius:20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    background-color: #FFFFFF;
  }
  

  #fondo{
    background-image: url("../img/fondo1.jpg");
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 100px;
  }

  #logeo{
      margin:  0 auto;
      padding:20px;
      /* border: 1px solid white; */
      width: 400px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      margin-bottom: 10px;
  }

  #logeo > div{
      padding:10px;
  }

  a:link, a:visited, a:active {
  text-decoration:none;
  }

/* Botones prioridad */
.btn{
  width:95px;
}


#cuerpo > main > div:nth-child(2) > div.col.bg-white.p-3 > div:nth-child(1) > div:nth-child(2) > a > button{

  width: 40px;
  height: 40px;
  padding: 0;
  
}
#cuerpo > main > div:nth-child(2) > div.col.bg-white.p-3 > div:nth-child(1) > div:nth-child(2){
  text-align: center;
}

#cuerpo > main > div:nth-child(2) > div.col.bg-white.p-3 > div:nth-child(1) > div:nth-child(1){
  text-align: center;
  padding: 10px;
}

#cuerpo > main > div:nth-child(2) > div.col.bg-white.p-3 > div:nth-child(2){
  margin: 10px;
  border: 2px solid;
  min-height: 160px; 
  border-radius: 25px;
}

/* Informes */

#folio>#foto{
  text-align: center;
  background-color: black;
}
#folio>#foto>img{
  text-align: center;
  width: 500px;
}
#folio{
  margin: 0 auto;
  width: 800px;
  padding: 20px;
  border: 1px solid rgba(179,179,179,0.15);
  margin-bottom: 50px;
  box-shadow: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: rgb(236,235,235);
}
#folio > div {
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
}
