footer{
    height: 100px;
    
 }
 #cuerpo{   
    
    padding-top: 80px;
    background-color: rgb(175, 197, 206);
  }
  #barra, footer{
    background-color: rgb(32, 100, 128);
    color: white;
 }
  .parrilla{
      /* background-color:#C4DBC1; */
      text-align: center;
      
  }

  .iconosIndex{
    width: 125px;
    margin: 0 auto;
  }
  .botonIcons{
    padding: 0; 
    border: none; 
    background: none;
  }
  .botonIcons:hover{
    border: 1px solid;
  }

  #fondo{
    background-image: url("../img/fondo1.jpg");
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 100px;
  }

  #logeo{
      margin:  0 auto;
      padding:20px;
      border: 1px solid white;
      width: 400px;
      background-color: white;
      border-radius: 5px;
      margin-bottom: 10px;
  }

  #logeo > div{
      padding:10px;
  }